.button {
  border: 1px solid transparent;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 4px 6px;
  color: #4d4d4d;
  cursor: pointer;
  border-radius: 3px;
  &:hover {
    border: 1px solid rgba(165, 42, 42, 0.205);;
  }

  /* &:active {
    border: 1px solid #4d4d4d; 
  } */
}

.highlight {
  border: 1px solid rgba(165, 42, 42, 0.473);

  &:hover {
    border: 1px solid rgba(165, 42, 42, 0.473);
  }
}


