.todos {
  &__container {
    max-width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(165, 42, 42, 0.219);
    letter-spacing: 0px;
  }

  &__body {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
    min-width: 430px
  }

  &__list {
    overflow: hidden;
    position: relative;
  }

  &__create-form {
    background: #fff;
    padding: 8px 16px;
    border-bottom: 1px solid rgb(192, 192, 192);
    display: flex;
    justify-content: flex-end;
  }
  &__input {
    margin-right: 16px;
  }
  &__check-all {
    padding: 8px;
    position: relative;
    cursor: pointer;
    margin-right: 26px;
    svg {
      position: absolute;
      top: 17%;
      left: -80%;
      fill: #4d4d4d1f;
    }
    &.active {
      svg {
        fill: #4d4d4d46;
      }
    }
  }

  &__footer {
    padding: 12px 0px;
    display: flex;
    justify-content: space-around;
  }

  &__options-container {
    display: flex;
    justify-content: center;
    align-items: center;
    * {
      margin-right: 8px;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #4d4d4d;
    pointer-events: none;
  }
}

.hidden {
  display: none !important;
}

.todos__clear-completed {
  border: none !important;
  &:hover {
    text-decoration: underline;
    border: none !important;
  }
}
